<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2>List of todo tasks</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <input class="search-bar" placeholder="Search tasks"/>
    </div>
  </div>

  <div class="row" *ngFor="let task of allTasks">
    <div class="col-lg-2">
      <label>{{ task.name  }}</label>
    </div>
    <div class="col-lg-2">
      <label>{{ task.priority }}</label>
    </div>
    <div class="col-lg-2">
      <label>{{ task.status ? "Done" : "Incomplete" }}</label>
    </div>
    <div class="col-lg-2">
      <label>{{ task.dateCreated }}</label>
    </div>
    <div class="col-lg-2">
      <button (click)="deleteTask(task)">DELETE</button>
    </div>
    <div class="col-lg-2">
      <button (click)="markDone(task)">DONE</button>
    </div>
  </div>
</div>
